div{
    margin: 0px;
    padding: 0px;
}
.dcool_header{
    width: 100%;
    height: 250px;
    background-color: #eeeeee;
}

.dcool_content{
    width: 100%;
    height: 800px;
    background-color: #dddddd;
}

.dcool_treil{
    width: 100%;
    height: 300px;
    background-color: #000333;
}